body{
    height: 100vh;
}
@font-face {
    font-family: 'digital-7';
    src: url('fonts/digital-7.ttf');
}

.navigation{
    transition:  background-color 0.5s ease-in-out;
}
.inactive{
    color: rgb(41, 235, 41);
    background-color: rgb(7, 8, 8);
    transition:  background-color 0.5s ease-in-out;

}
.active{
    color: rgb(219, 70, 33);
    background-color: rgb(18, 24, 22);
    transition:  background-color 0.5s ease-in-out;

}

.button-pill{
    font-size: 1.2rem;
    border-radius: 40x;
}
.timer{
    font-size: 100px;
    font-family: 'digital-7';
}
.counter-background{
    background: rgb(7, 8, 8);
}
.hide{
    color: rgb(7, 95, 66);
}